<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="
      d-flex
      justify-content-center justify-content-lg-between
      p-4
      border-bottom
    ">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Povežite se s nama na društvenim mrežama:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="fw-bold mb-4">
                        <i class="fas fa-globe-europe"></i> globetraveler
                    </h6>
                    <p>
                        u saradnji sa svojim partnerima, nudi mogućnost rezervacije aranžmana za sve destinacije svijeta, bez dodatnih troškova! Trudimo se na svaki Vaš zahtjev odgovoriti najkvalitetnijom ponudom.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Korisni linkovi</h6>
                    <p>
                        <a href="https://uta.ba/cms/" class="text-reset">UTA BiH </a>
                    </p>
                    <p>
                        <a href="https://www.sarajevo-airport.ba/" class="text-reset">Međunarodni aerodrom Sarajevo</a
            >
          </p>
          <p>
            <a href="https://www.visitsarajevo.ba/" class="text-reset"
              >Visit Sarajevo</a
            >
          </p>
          <p>
            <a
              href="https://www.viator.com/Sarajevo/d22427-ttd"
              class="text-reset"
              >Viator</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Info</h6>
          <p>
            <a href="#!" class="text-reset">Cijene</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Podešavanja</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Rezervacije</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Pomoć</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">kontakt</h6>
                    <p>
                        <i class="fas fa-home me-3"></i> Zmaja od Bosne 21, 71000, Sarajevo, BiH
                    </p>
                    <p><i class="fas fa-envelope me-3"></i> globetraveler@travel.com</p>
                    <p><i class="fas fa-phone me-3"></i> + 387 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 987 232 561 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/kulisjurai">kulisjurai</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->