.card {
    height: 440px;
    max-width: 330px;
    border-radius: 15px;
    padding: 0 0 15px 1px;
    border: none;
    margin: auto;
    margin-bottom: 40px;
    background: #faf9f9;
    box-shadow: 5px 5px 15px #e6e4e4, -5px -5px 15px #f4f4f4;
    img {
        margin-right: 1px;
        max-width: 329px !important;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .price {
        position: absolute;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 2;
        top: 7vh;
        right: 1px;
        display: inline;
        padding: 7px;
        background-color: rgb(36, 54, 88) !important;
        color: white;
        span {
            color: rgb(255, 115, 0);
        }
    }
    .card-info {
        padding: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        color: rgb(36, 36, 75);
    }
    .card-header {
        background: #faf9f9;
        padding: 10px 15px 5px 15px;
        color: rgb(57, 57, 112);
    }
    &:hover {
        cursor: pointer;
        .card-header {
            color: coral;
        }
    }
}