.containerr {
    padding: 3vh 5vw 0 5vw;
    width: 100%;
    margin: 0px;
    background-color: rgb(227, 238, 248);
    margin-bottom: 500px;
    position: absolute;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: mymove6 1s normal forwards;
    @keyframes mymove6 {
        0% {
            top: -500px;
        }
        100% {
            top: 100px;
        }
    }
    h4 {
        color: rgb(60, 108, 153);
    }
    i {
        color: rgb(35, 146, 211);
    }
    .mb-3 {
        max-width: 70vw;
        margin: auto;
    }
    .btn {
        width: 191px;
    }
    .btn-primary {
        margin-right: 15px;
        background-color: #37548b;
    }
    form {
        width: 400px;
    }
    @media only screen and (max-width: 600px) {
        form {
            width: 80%;
        }
    }
    .col-12 {
        display: flex;
        margin-top: 4.3vh;
    }
}

.none {
    padding: 5vw 15vw 0 15vw;
    width: 100%;
    margin: 0px;
    background-color: rgb(227, 238, 248);
    margin-bottom: 500px;
    position: absolute;
    height: 500px;
    animation: mymove7 1s normal forwards;
    @keyframes mymove7 {
        0% {
            top: 100px;
        }
        100% {
            top: -800px;
        }
    }
}