<div class="containerr">
    <h4>Prijavite se</h4>
    <br />
    <br />
    <form [formGroup]="form">
        <div class="mb-3">
            <label for="exampleInputEmail1 " class="form-label">Username</label>
            <input formControlName="username" name="username " type="text" class="form-control" required id="exampleInputUsername1" aria-describedby="usernameHelp" />
            <div *ngIf="username?.touched && username?.invalid">
                <div class="alert alert-danger" *ngIf="username?.errors?.required">
                    Unesite svoje korisnicko ime
                </div>
                <div class="alert alert-danger" *ngIf="username?.errors?.minlength">
                    Korisnicko ime mora biti duze od 6 karaktera
                </div>
                <div class="alert alert-danger" *ngIf="username?.errors?.cannotContainSpace">
                    Korisnicko ime ne smije imati praznine
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1 " class="form-label">Password</label>

            <input (keyUp.enter)="loginUser()" type="password" formControlName="password" name="password" class="form-control" required id="exampleInputPassword1" />
            <div *ngIf="password?.touched && password?.invalid">
                <div class="alert alert-danger" *ngIf="password?.errors?.required">
                    Unesite svoju lozinku
                </div>
                <div class="alert alert-danger" *ngIf="password?.errors?.minlength">
                    Lozinka mora biti duza od 6 karaktera
                </div>
                <div class="alert alert-danger" *ngIf="password?.errors?.cannotContainSpace">
                    Lozinka ne smije sadrzavati praznine
                </div>
            </div>
        </div>
        <div class="col-12">
            <button (click)="signUpRoute()" class="btn btn-primary">Register</button>
            <button (click)="(userService.loggedUser)" [disabled]="password?.errors" (click)="loginUser()" class="btn btn-success">
        Login
      </button>
        </div>
    </form>
</div>